<div class="container">
  {{!-- Title and Create Button --}}
  <div class="row mt-3">
    <div class="col-lg-6">
      <h3 class="text-info">Voyant Barkbase</h3>
    </div>
    <div class="col-lg-6">
      {{#link-to "dog.create" class="btn btn-info float-right"}}
      <i class="fas fa-user"></i>&nbsp;&nbsp;Add New Dog
      {{/link-to}}
    </div>
  </div>
  <hr class="bg-info">

  {{!-- Add the search bar --}}
  <div class="mb-4">
    {{input
    type="text"
    value=this.searchQuery
    placeholder="Search dogs..."
    class="form-control"
    input=(action "filterDogs")
    }}
  </div>

  {{!-- Displaying Records --}}
  <div class="row">
    <div class="col-lg-12">
      <div class="card-deck">
        {{#each this.filteredDogs as |dog|}}
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-body-img">
              {{#if dog.imageURL}}
              <img src={{dog.imageURL}} alt="picture of {{dog.name}}" />
              {{else}}
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQySuVYbXn6Yg8UOIlTVjAiWRtQbJikNnRWj8Dz3gjFu6CMg_PR00kyJZOZltXV3AX9Xik&usqp=CAU"
                alt="picture of {{dog.name}}" />
              {{/if}}
            </div>
            <h5 class="card-title">{{#link-to "dog.detail" dog.id class="text-success"}}{{dog.name}}{{/link-to}}</h5>
            <p class="card-text">Breed: {{dog.breed}}</p>
            <p class="card-text">Weight: {{dog.weight}} Lb</p>
          </div>
          <div class="card-footer bg-transparent">
            {{#link-to "dog.edit" dog.id class="btn btn-sm btn-outline-success mr-2"}}{{fa-icon "edit"}}
            Edit{{/link-to}}
            <button class="btn btn-sm btn-outline-danger" {{action "deleteDog" dog.id}}>{{fa-icon "trash-alt"}}
              Delete</button>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="clearfix mt-4">
        <button class="btn btn-primary float-left" {{action "movePrev" meta.page}}>Prev</button>
        <div class="hint-text text-center">Page <b>{{ meta.page }}</b> out of <b>{{ meta.pages }}</b></div>
        <button class="btn btn-primary float-right" {{action "moveNext" meta.page}}>Next</button>
      </div>
    </div>
  </div>
</div>